In [1]:
# [코드 2.1] 예시 시리즈 만들기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

import pandas as pd

pd.Series([100, 500, 150])

0    100
1    500
2    150
dtype: int64

In [2]:
#[코드 2.2] 인덱스를 지정하여 시리즈 만들기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

pd.Series([100, 500, 150], index=['카카오', '삼성전자', '현대차'])

카카오     100
삼성전자    500
현대차     150
dtype: int64

In [3]:
#[코드 2.3] 시리즈를 변수에 저장하고 데이터 불러오기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

series_ex1 = pd.Series([100, 500, 150], index=['카카오', '삼성전자', '현대차'])
print(series_ex1['카카오'])
print(series_ex1['현대차'])

100
150

In [4]:
# [코드 2.4] 시리즈에서 순서를 이용하여 값 가져오기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

print(series_ex1[1])

500

In [5]:
# [코드 2.5] 예시 데이터프레임 만들기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

pd.DataFrame({'가격':[100, 500, 150], 'PER':[0.5, 1.2, 0.2], 'ROA':[1.01, 3.1, 0.97]},
            index=['카카오', '삼성전자', '현대차'])

      PER   ROA   가격
카카오   0.5  1.01  100
삼성전자  1.2  3.10  500
현대차   0.2  0.97  150

In [6]:
# [코드 2.6] 예시 데이터프레임 저장하여 사용해 보기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex1 = pd.DataFrame({'가격':[100, 500, 150], 'PER':[0.5, 1.2, 0.2], 'ROA':[1.01, 3.1, 0.97]},
            index=['카카오', '삼성전자', '현대차'])

df_ex1['가격']

카카오     100
삼성전자    500
현대차     150
Name: 가격, dtype: int64

In [7]:
# [코드 2.7] 데이터프레임에서 특정 데이터 가져오기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex1['가격']['삼성전자']

500

In [8]:
# [코드 2.8] 데이터프레임에서 행을 기준으로 선택하기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex1.loc['카카오']

PER      0.50
ROA      1.01
가격     100.00
Name: 카카오, dtype: float64

In [9]:
# [코드 2.9] 예제용 데이터프레임 생성 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2 = pd.DataFrame({'가격':[100, 140, 155, 70, 90], 
                       'PER':[1.1, 0.8, 0.7, 2.3, 3.9],
                       '거래량':[1000, 800, 890, 700, 2000]},
                     index=['a', 'b', 'c','d', 'e'])

In [10]:
# [코드 2.10] 가격이 100 이상인 데이터만 선택 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2[df_ex2['가격'] >= 100]

   PER   가격   거래량
a  1.1  100  1000
b  0.8  140   800
c  0.7  155   890

In [11]:
# [코드 2.11] 거래량이 1000보다 작은 데이터만 선택 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2[df_ex2['거래량'] < 1000]

   PER   가격  거래량
b  0.8  140  800
c  0.7  155  890
d  2.3   70  700

In [12]:
# [코드 2.12] PER 컬럼을 선택하여 정렬하기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2['PER'].sort_values()

c    0.7
b    0.8
a    1.1
d    2.3
e    3.9
Name: PER, dtype: float64

In [13]:
# [코드 2.13] PER 컬럼을 선택하여 내림차순 정렬하기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2['PER'].sort_values(ascending=False)

e    3.9
d    2.3
a    1.1
b    0.8
c    0.7
Name: PER, dtype: float64

In [14]:
# [코드 2.14] PER 컬럼을 기준으로 전체 데이터프레임 정렬 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2.sort_values(by='PER')

   PER   가격   거래량
c  0.7  155   890
b  0.8  140   800
a  1.1  100  1000
d  2.3   70   700
e  3.9   90  2000

In [15]:
# [코드 2.15] PER 컬럼을 기준으로 전체 데이터프레임 내림차순 정렬 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2.sort_values(by='PER', ascending=False)

   PER   가격   거래량
e  3.9   90  2000
d  2.3   70   700
a  1.1  100  1000
b  0.8  140   800
c  0.7  155   890

In [16]:
# [코드 2.16] 거래량을 기준으로 순위 만들기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2['거래량'].rank()

a    4.0
b    2.0
c    3.0
d    1.0
e    5.0
Name: 거래량, dtype: float64

In [17]:
# [코드 2.17] 거래량을 내림차순 기준으로 순위 만들기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

df_ex2['거래량'].rank(ascending=False)

a    2.0
b    4.0
c    3.0
d    5.0
e    1.0
Name: 거래량, dtype: float64

In [18]:
# [코드 2.18] 마법공식 데이터 읽어 오기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

file_path = 'C:\\Users\\JK\\Desktop\\파이썬으로 하는 퀀트투자\\마법공식 데이터.xlsx'
pd.read_excel(file_path, sheet_name='PER')

          회사명      PER
0          3S   -11.87
1      AJ네트웍스    25.15
2       AJ렌터카    24.85
3       AK홀딩스    11.49
4      APS홀딩스     0.23
5       AP시스템    14.63
6        AP위성    21.65
7         BGF     2.18
8     BNK금융지주     6.48
9         BYC    13.72
10    C&S자산관리    -0.65
11         CJ    12.23
12     CJ CGV  2304.04
13     CJ E&M     7.77
14     CJ대한통운    69.15
15      CJ씨푸드    24.83
16      CJ오쇼핑    55.15
17     CJ제일제당    13.44
18    CJ프레시웨이   -36.40
19       CJ헬로   -77.13
20      CMG제약   278.60
21        CNH    27.07
22         CS    18.66
23    CSA 코스믹   -11.72
24      CS홀딩스    13.65
25         DB   -66.41
26     DB금융투자    11.47
27      DB라이텍    71.57
28     DB손해보험     7.81
29      DB하이텍     8.16
...       ...      ...
1975       화진    18.64
1976     화천기계    53.01
1977     화천기공    10.94
1978     환인제약    20.59
1979    황금에스티     7.21
1980       효성     9.98
1981    효성ITX    21.93
1982    효성오앤비    13.66
1983       후성    14.98
1984    휘닉스소재   -19.10
1985    휠라코리아     2.60
1986      휴니드    12.70
1987     휴마시스   -29.98
1988      휴맥스   -80.19
1989   휴맥스홀딩스    -8.67
1990     휴메딕스    38.05
1991      휴비스    28.53
1992      휴비츠    18.32
1993      휴스틸     6.44
1994      휴온스    24.17
1995   휴온스글로벌    34.31
1996       휴젤    36.80
1997      휴켐스     9.78
1998     흥구석유    22.15
1999       흥국     8.61
2000   흥국에프엔비    23.20
2001     흥국화재     5.93
2002     흥아해운    -4.87
2003       희림    20.66
2004       힘스     6.63

[2005 rows x 2 columns]

In [19]:
# [코드 2.19] 마법공식 데이터 인덱스 설정하여 읽어 오기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

per_data = pd.read_excel(file_path, sheet_name='PER', index_col=0)

In [20]:
# [코드 2.20] per 값이 0 보다 작은 데이터 필터링 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

filtered_per = per_data[per_data['PER'] > 0]

In [21]:
# [코드 2.21] per 데이터프레임 정렬 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

sorted_per = filtered_per.sort_values(by='PER')

In [22]:
# [코드 2.22] per값으로 순위 만들기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

sorted_per['PER'].rank()

회사명
APS홀딩스           1.0
STX중공업           2.0
제일파마홀딩스          3.0
이녹스              4.0
유비쿼스홀딩스          5.0
삼강엠앤티            6.5
오리온홀딩스           6.5
크라운해태홀딩스         8.0
STX              9.0
현대시멘트           10.0
동부건설            11.0
BGF             12.0
평화정공            13.0
차이나하오란          14.0
서연이화            15.0
서연              16.0
휠라코리아           17.0
현대중공업           18.5
삼호              18.5
경동인베스트          20.0
영보화학            21.0
서한              22.0
한창제지            23.0
미래에셋생명          24.0
그랜드백화점          25.0
인화정공            26.0
성도이엔지           27.5
한라              27.5
티에이치엔           29.0
대원산업            30.0
               ...
SDN           1364.0
동운아나텍         1365.0
한미약품          1366.0
지와이커머스        1367.0
영진약품          1368.0
교보비엔케이스팩      1369.0
롯데지주          1370.0
진양화학          1371.0
삼영엠텍          1372.0
세기상사          1373.0
한올바이오파마       1374.0
이엑스티          1375.0
아미코젠          1376.0
에프티이앤이        1377.0
제일약품          1378.0
레드로버          1379.0
나노메딕스         1380.0
한화에이스스팩3호     1381.0
엔에이치스팩10호     1382.0
CJ CGV        1383.0
국일제지          1384.0
로보로보          1385.0
웨이브일렉트로       1386.0
안트로젠          1387.0
미래에셋대우스팩1호    1388.0
신영스팩3호        1389.0
SCI평가정보       1390.0
제이에스티나        1391.0
셀트리온제약        1392.0
코미팜           1393.0
Name: PER, Length: 1393, dtype: float64

In [23]:
# [코드 2.23] per값으로 순위 기존 데이터프레임에 합치기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

sorted_per['PER랭킹'] = sorted_per['PER'].rank()

In [24]:
sorted_per

                 PER   PER랭킹
회사명
APS홀딩스          0.23     1.0
STX중공업          0.37     2.0
제일파마홀딩스         0.39     3.0
이녹스             0.75     4.0
유비쿼스홀딩스         1.04     5.0
삼강엠앤티           1.10     6.5
오리온홀딩스          1.10     6.5
크라운해태홀딩스        1.30     8.0
STX             1.61     9.0
현대시멘트           1.84    10.0
동부건설            2.07    11.0
BGF             2.18    12.0
평화정공            2.45    13.0
차이나하오란          2.49    14.0
서연이화            2.52    15.0
서연              2.55    16.0
휠라코리아           2.60    17.0
현대중공업           2.93    18.5
삼호              2.93    18.5
경동인베스트          2.98    20.0
영보화학            3.17    21.0
서한              3.22    22.0
한창제지            3.24    23.0
미래에셋생명          3.27    24.0
그랜드백화점          3.56    25.0
인화정공            3.62    26.0
성도이엔지           3.70    27.5
한라              3.70    27.5
티에이치엔           3.82    29.0
대원산업            3.84    30.0
...              ...     ...
SDN           518.60  1364.0
동운아나텍         542.67  1365.0
한미약품          545.63  1366.0
지와이커머스        594.74  1367.0
영진약품          636.87  1368.0
교보비엔케이스팩      639.91  1369.0
롯데지주          651.70  1370.0
진양화학          780.00  1371.0
삼영엠텍          785.57  1372.0
세기상사          841.38  1373.0
한올바이오파마       878.00  1374.0
이엑스티          906.28  1375.0
아미코젠         1051.39  1376.0
에프티이앤이       1080.10  1377.0
제일약품         1111.28  1378.0
레드로버         1126.58  1379.0
나노메딕스        1294.34  1380.0
한화에이스스팩3호    1582.25  1381.0
엔에이치스팩10호    1980.00  1382.0
CJ CGV       2304.04  1383.0
국일제지         2470.35  1384.0
로보로보         2603.13  1385.0
웨이브일렉트로      2767.97  1386.0
안트로젠         3259.53  1387.0
미래에셋대우스팩1호   3283.00  1388.0
신영스팩3호       3369.00  1389.0
SCI평가정보      3662.70  1390.0
제이에스티나       5455.44  1391.0
셀트리온제약      10318.45  1392.0
코미팜         23333.05  1393.0

[1393 rows x 2 columns]

In [25]:
# [코드 2.24] ROA데이터 읽어 오기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

roa_data = pd.read_excel(file_path, sheet_name='ROA', index_col=0)

In [26]:
# [코드 2.25] NaN값 제거 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

filtered_roa = roa_data.dropna()

In [27]:
# [코드 2.26] 컬럼명 변경 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

filtered_roa.columns = ['ROA']

In [28]:
# [코드 2.27] roa데이터프레임 정렬하고 순위 메기기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

sorted_roa = filtered_roa.sort_values(by='ROA', ascending=False)
sorted_roa['ROA랭킹'] = sorted_roa.rank(ascending=False)

In [29]:
# [코드 2.28] 두 데이터프레임 합치기 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

total_df = pd.merge(sorted_per, sorted_roa, how='inner', left_index=True, right_index=True)

In [34]:
# [코드 2.29] 두 랭킹의 합 계산하고 정렬 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

total_df['종합랭크'] = (total_df['PER랭킹'] + total_df['ROA랭킹']).rank()
total_df.sort_values(by='종합랭크')

               PER   PER랭킹    ROA   ROA랭킹    종합랭크
회사명
서한            3.22    22.0  23.65    25.0     1.0
골프존           4.19    38.0  24.77    21.0     2.0
동원개발          4.41    42.0  23.62    26.0     3.0
오가닉티코스메틱      5.11    66.5  44.06     3.0     4.0
모베이스          4.49    45.0  20.03    52.0     5.0
테라세미콘         6.07   104.0  31.98     7.0     6.0
제이스텍          3.88    32.0  17.05    85.5     7.0
삼목에스폼         4.98    58.0  18.98    64.0     8.0
영우디에스피        6.22   114.0  28.38    10.0     9.0
HB테크놀러지       6.45   123.5  30.60     9.0    10.0
로스웰           6.10   108.0  21.99    33.0    11.0
한국자산신탁        6.58   133.0  22.09    31.0    12.0
크리스탈신소재       5.67    88.0  17.60    77.5    13.0
롯데케미칼         5.93    99.5  18.19    70.0    14.0
한국토지신탁        5.24    73.0  15.81   101.0    15.0
서호전기          6.26   116.0  18.59    66.0    16.0
대원산업          3.84    30.0  13.46   158.0    17.0
아이에스동서        5.07    63.0  14.65   128.0    18.0
에스에이엠티        4.55    48.0  13.84   150.0    19.0
대양금속          4.48    44.0  13.31   163.0    20.0
차이나하오란        2.49    14.0  11.75   202.0    21.0
완리            4.86    53.0  13.26   165.0    22.0
DMS           5.82    95.5  14.34   135.0    23.0
삼호            2.93    18.5  11.46   215.5    24.0
삼양통상          5.01    61.0  12.34   184.0    25.5
슈피겐코리아        7.07   165.0  17.49    80.0    25.5
현대통신          7.14   169.5  17.29    82.0    27.0
화성산업          4.35    39.0  11.43   220.0    28.0
한창제지          3.24    23.0  10.94   241.0    29.0
넥센            4.61    49.0  11.46   215.5    30.0
...            ...     ...    ...     ...     ...
백금T&A        69.68  1209.0  -4.87  1685.0  1222.0
코센          172.55  1318.0  -2.65  1577.5  1223.0
국일제지       2470.35  1384.0  -1.41  1514.0  1224.0
이지웰페어       275.88  1340.0  -2.30  1562.0  1225.0
대우조선해양      111.06  1272.0  -3.48  1630.5  1226.0
대한광통신        61.80  1198.0  -5.76  1707.0  1227.0
동성제약        221.14  1332.0  -2.70  1580.5  1228.0
일신석재         80.89  1231.0  -4.94  1688.0  1229.0
세기상사        841.38  1373.0  -2.21  1559.0  1230.0
엑셈           72.65  1213.0  -6.14  1719.5  1231.0
녹십자엠에스      216.78  1331.0  -3.13  1608.0  1232.0
필링크          58.45  1189.0  -7.92  1757.0  1233.0
인콘          113.25  1275.0  -4.79  1678.5  1234.0
넥스트아이       186.49  1325.0  -3.55  1635.5  1235.0
젬백스          98.18  1255.0  -6.55  1729.0  1236.0
태평양물산        43.50  1117.0 -19.11  1883.0  1237.0
한올바이오파마     878.00  1374.0  -3.48  1630.5  1238.0
제룡전기         76.24  1220.0 -11.15  1815.0  1239.0
파크시스템스       53.18  1167.0 -16.19  1875.0  1240.0
아미코젠       1051.39  1376.0  -4.59  1667.0  1241.0
동운아나텍       542.67  1365.0  -5.33  1695.0  1242.0
TBH글로벌      150.76  1307.0  -7.64  1754.0  1243.0
유수홀딩스       146.57  1301.0  -8.32  1770.0  1244.0
아이크래프트      145.10  1300.0  -9.05  1780.0  1245.0
에이치엘비생명과학   131.34  1292.0  -9.74  1793.0  1246.0
SCI평가정보    3662.70  1390.0  -6.80  1734.0  1247.0
덕양산업        424.93  1358.0  -8.46  1773.0  1248.0
디비케이        119.68  1281.0 -14.23  1863.0  1249.0
이루온         197.50  1328.0 -13.28  1847.0  1250.0
감마누         395.36  1355.0 -22.41  1893.0  1251.0

[1251 rows x 5 columns]

In [1]:
# [코드 2.30] 팬다스로 구현한 마법공식 함수 (Ch2. Pandas를 이용한 데이터 분석.ipynb)

def magic_by_pd(path):
    per_data = pd.read_excel(path, sheet_name='PER', index_col=0)
    filtered_per = per_data[per_data['PER'] > 0]
    sorted_per = filtered_per.sort_values(by='PER')
    sorted_per['PER랭킹'] = sorted_per['PER'].rank()

    roa_data = pd.read_excel(path, sheet_name='ROA', index_col=0)
    filtered_roa = roa_data.dropna()
    filtered_roa.columns = ['ROA']
    sorted_roa = filtered_roa.sort_values(by='ROA', ascending=False)
    sorted_roa['ROA랭킹'] = sorted_roa.rank(ascending=False)

    total_df = pd.merge(sorted_per, sorted_roa, how='inner', left_index=True, right_index=True)

    total_df['종합랭크'] = (total_df['PER랭킹'] + total_df['ROA랭킹']).rank()
    return total_df.sort_values(by='종합랭크')